.body {
  background-color: violet;
  font-family: 'Times New Roman', Times, serif;
}

.nav {
  color: black;
  background-color: whitesmoke;
  height: 45px;
  padding: 10px;
  border-radius: 5px;

}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  height: 45px;
  border-radius: 50%;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: blue;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: inline-end;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: antiquewhite;
}

.show {
  display: block;
}

/************end of menu bar stylings*************/
/* section 1 styling */
.container {
  display: flex;
}

.image-container {
  padding: 10px;
}

.text-container,
.image-container {
  background-color: blue;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.text-container {
  padding: 5px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

span.yellow {
  color: yellow;
}

span.purple {
  color: purple;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}